<!-- app/views/restaurants/show.html.erb -->
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<h2>Reviews</h2>
<%= render @restaurant.reviews %>

<%= link_to 'Back', 'javascript:history.back()' %>
